# ==== OS ====
.DS_Store
Thumbs.db

# ==== IDEs ====
.idea/
.vscode/
*.iml
*.iws
*.ipr

# ==== Java / Maven ====
server/server/target/
server/server/.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war

# ==== Node / Frontend ====
client/node_modules/
client/dist/
client/package-lock.json

# ==== Logs ====
*.log
